* {
    padding: 0px;
    margin: 0px;
}

.gallery{
    display: grid;
    grid-gap: 5px;
    height: 100vh;
}

.gallery .row__miniGallery{
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: repeat(6, 16.25%);
    grid-row: 33.33%;
}

.gallery .row__middleGallery {
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: repeat(3, 33%);
    grid-row: 33.33%;
}

img{
    cursor: pointer;
    filter: grayscale(90%);
    transition: 0.3s ease-in-out;
    
}

img:hover{
    filter: grayscale(0%);
}

.gallery .row__bigGallery {
    display: grid;
    grid-gap: 0.5%;
    grid-template-columns: 1fr;
    grid-row: 33.33%;
}

.img__grid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}